@using VanPhongPhamDTO.Entities
@model Tuple<List<Products>, List<Products>, Producer, List<Producer>>
@{
    ViewData["Title"] = Model.Item3.Producer_Name;
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Home/Index">Trang chủ</a></li>
        <li class="breadcrumb-item"><a href="">Nhãn hiệu</a></li>
        <li class="breadcrumb-item"><a href="">@Model.Item3.Producer_Name</a></li>
    </ol>
</nav>
<div class="container mb-4 mt-5" style="border: 0.5px solid #a5a3a3;">
    <div class="row mt-2 mb-2">
        <div class="col col-3">
            <img src="@("/images/"+Model.Item3.Producer_Images)" width="280" alt="" style="border: 0.2px solid #e8e8e8;">
        </div>
        <div class="col col-9">
            <div class="pl-4 pt-4">
                <h3 class="text-center" style="font-weight: bold; font-size:35px;">@Model.Item3.Producer_Name</h3>
                @if (Model.Item3.Producer_Description != null)
                {
                    <p>@Html.Raw(Model.Item3.Producer_Description)</p>
                }
            </div>
        </div>
    </div>
</div>
<div class="section-new-product">
    <div class="container" style="background-color: #e8e8e8;">
        <h3 class="text-center"></h3>
        @if (Model.Item1.Count() > 0)
        {
            <div class="row" id="exam">
                @foreach (var item in Model.Item1)
                {
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 pag show_button">
                        <div class="thumbnail">
                            <a href="@Url.Action("ProductDetail", "Home", new { id =  item.Product_Id })"> <img src="@("/images/"+item.Product_Images)" alt=""></a>
                            <div class="chon-mua">
                                <button class="btn btn-info btn-block" onclick="location.href='@Url.Action("ProductDetail", "Home", new { id =  item.Product_Id }) '">Xem chi tiết</button>
                                <button class="btn btn-info btn-block" onclick="AddToCart('@(item.Product_Id)')">Thêm giỏ hàng</button>
                            </div>
                            <div class="caption">
                                <div class="proName">Máy in nhãn tepra pro SR530</div>
                                <div class="proPrice">
                                    @if ((int)item.Price == 0)
                                    {
                                        <span class="proOfPrice" style="text-decoration: none;">@item.Status</span>
                                    }
                                    else
                                    {
                                        @if (item.NewPrice != 0)
                                        {
                                            <span class="proOfPrice" style="text-decoration: line-through;">@(String.Format("{0:0,0 vnđ}", (int)item.Price))</span>
                                            <span class="proPriceDiscount">@(String.Format("{0:0,0 vnđ}", (int)item.NewPrice))</span>
                                        }
                                        else
                                        {
                                            <span class="proOfPrice" style="text-decoration: none;">@(String.Format("{0:0,0 vnđ}", (int)item.Price))</span>
                                        }
                                    }
                                </div>
                                @foreach (var pro in Model.Item2)
                                {
                                    @if (pro.Product_Id == item.Product_Id)
                                    {
                                        <img src="/images/new2.png" alt="" class="inew">
                                    }
                                }

                            </div>
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <div class="d-flex">
                <h4 class="mx-auto pb-4">Chưa có sản phẩm nào :((</h4>
            </div>
        }
    </div>
</div>
<div class="section-list-brand">
    <div class="container">
        <h3 class="like text-center">List brands</h3>
        <ul id="flexiselBrand">
            @foreach (var item in Model.Item4)
            {
                @if (item.Producer_Images != null && item.Producer_Images != "")
                {
                    <li>
                        <a href="/Products/ProductsByBrand/@(item.Producer_Id)"><img src="@("/images/" + item.Producer_Images)" alt=""></a>
                    </li>
                }
            }
        </ul>
    </div>
</div>
<script>
    function linkLogin() {
        $(".linklogin").attr("href", "/Account/Login/13");
        $(".linkregister").attr("href", "/Account/Login/12");
    }
</script>