@model List<VanPhongPhamDTO.Entities.Category_Detail>

@{
    ViewData["Title"] = "Quản lý loại sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<h5 class="ml-3 mb-2">Quản lý loại sản phẩm</h5>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title"><a asp-action="Create"><i class="fas fa-plus-circle mr-2"></i>Thêm mới</a></h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Mã danh mục</th>
                                <th>Tên danh mục</th>
                                <th>Miêu tả</th>
                                <th>Loại danh mục</th>
                                <th>Chức năng</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.CD_Id</td>
                                    <td>@item.CD_Name</td>
                                    <td>@item.CD_Description </td>
                                    <td>@item.Categories.Category_Name</td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.CD_Id"><i class="fas fa-edit"></i></a>
                                        <a asp-action="Delete" asp-route-id="@item.CD_Id" onclick='confirm("Bạn có chắc chắn muốn xóa không?");'><i class="far fa-trash-alt"></i></a>
                                    </td>
                                </tr>
                            }


                        </tbody>

                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>