@model List<VanPhongPhamDTO.Entities.Producer>
@{
    ViewData["Title"] = "Quản lý danh mục nhà sản xuất";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<h5 class="ml-3 mb-2">Quản lý danh mục nhà sản xuất</h5>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title"><a asp-action="Create"><i class="fas fa-plus-circle mr-2"></i>Thêm mới</a></h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Mã nhà sản xuất</th>
                                <th>Tên nhà sản xuất</th>
                                <th>Ảnh đại diện</th>
                                <th>Mô tả</th>
                                <th>Quốc gia</th>
                                <th>Chức năng</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>@item.Producer_Id</td>
                                <td>@item.Producer_Name</td>
                                <td>
                                    <img src="@("/images/"+item.Producer_Images)" alt="Alternate Text" height="100" />
                                </td>
                                <td>@Html.Raw(item.Producer_Description)</td>
                                <td>@item.Origin</td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Producer_Id"><i class="fas fa-edit"></i></a>
                                    <a asp-action="Delete" asp-route-id="@item.Producer_Id" onclick='confirm("Bạn có chắc chắn muốn xóa không?");'><i class="far fa-trash-alt"></i></a>
                                </td>
                            </tr>
                            }


                        </tbody>

                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>
<!--<div class="modal" id="myModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!--Modal header-->
            <!--<div class="modal-header">
                <h4>Cập nhật nhà cung cấp</h4>
                <button class="close" data-dismiss="modal">&times;</button>
            </div>-->
            @*Modal body*@
        <!--<div class="modal-body">
            <form asp-action="Create" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Producer_Name" class="control-label"></label>
                    <input asp-for="Producer_Name" class="form-control" />
                    <span asp-validation-for="Producer_Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Producer_Images" class="control-label"></label>
                    <div class="mt-2 mb-2">
                        <img id="blah" src="#" alt="your image" height="200" class="d-block mx-auto" />
                    </div>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="customFile" asp-for="ImageFile" accept="image/*" onchange="document.getElementById('blah').src = window.URL.createObjectURL(this.files[0])">
                        <label class="custom-file-label" for="customFile" id="blah">Chọn ảnh</label>
                    </div>
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Producer_Description" class="control-label"></label>-->
                    @*<input asp-for="Producer_Description" class="form-control" />*@
                    <!--<textarea class="summernote" asp-for="Producer_Description"></textarea>
                    <span asp-validation-for="Producer_Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Origin" class="control-label"></label>
                    <input asp-for="Origin" class="form-control" />
                    <span asp-validation-for="Origin" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>-->
            @*modal footer*@
            @*<div class="modal-footer">
                <button class="btn-primary" id="btnAdd" onclick="return Add();">Thêm</button>
                <button class="btn-success">Cập nhật</button>
                <button class="btn-danger" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>-->*@
